<div class="container page-wrapper">
  <p>
    <button type="button" class="btn btn-success" [routerLink]="['EmployeeNew']">Add new employee</button>
  </p>

  <table class="table table-hover">
    <thead>
    <tr>
      <th (click)="sort('id')" >
        <span>ID</span>
        <sort-indicator [predicateName]="'id'" [currentPredicate]="predicate" [order]="order"></sort-indicator>
      </th>
      <th (click)="sort('title.shortcut')">
        <span>Title</span>
        <sort-indicator [predicateName]="'title.shortcut'" [currentPredicate]="predicate" [order]="order"></sort-indicator>
      </th>
      <th (click)="sort('firstName')">
        <span>First Name</span>
        <sort-indicator [predicateName]="'firstName'" [currentPredicate]="predicate" [order]="order"></sort-indicator>
      </th>
      <th (click)="sort('lastName')">
        <span>Last Name</span>
        <sort-indicator [predicateName]="'lastName'" [currentPredicate]="predicate" [order]="order"></sort-indicator>
      </th>
      <th (click)="sort('dateOfBirth')">
        <span>Date of Birth</span>
        <sort-indicator [predicateName]="'dateOfBirth'" [currentPredicate]="predicate" [order]="order"></sort-indicator>
      </th>
      <th (click)="sort('age')">
        <span>Age</span>
        <sort-indicator [predicateName]="'age'" [currentPredicate]="predicate" [order]="order"></sort-indicator>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#employee of employees | orderBy:predicate:order">
      <td>{{employee.id}}</td>
      <td>{{employee.title.shortcut}}</td>
      <td>{{employee.firstName}}</td>
      <td><a [routerLink]="['EmployeeDetails', {id: employee.id}]">{{employee.lastName}}</a></td>
      <td>
        <span *ngIf="employee.dateOfBirth">{{employee.dateOfBirth | date:'longDate'}}</span>
        <span *ngIf="!employee.dateOfBirth">b/d</span>
      </td>
      <td>
        <span *ngIf="employee.dateOfBirth">{{employee.age}}</span>
        <span *ngIf="!employee.dateOfBirth">-</span>
      </td>
      <td><span class="glyphicon glyphicon-remove action" (click)="removeEmployee(employee)"></span></td>
    </tr>
    </tbody>
  </table>

</div>
