<div class="container page-wrapper">
  <h1 *ngIf="employee">
    {{employee.lastName}}, {{employee.firstName}}
  </h1>

  <div class="row">
    <div class="col-md-3">
      <p class="det bg-success"><a [routerLink]="['EmployeeDetailsView']">Details</a></p>
      <p class="det bg-info"><a [routerLink]="['EmployeeDetailsProjects']">Projects</a></p>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
