<div class="container page-wrapper">
  <form *ngIf="active" (ngSubmit)="onSubmit(employee)" #employeeForm="ngForm">

    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" required [(ngModel)]="employee.firstName" ngControl="firstName" #firstName="ngForm">
        </div>
      </div>
      <div class="col-md-3">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-form alert-danger">
          First Name is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" required [(ngModel)]="employee.lastName" ngControl="lastName" #lastName="ngForm">
        </div>
      </div>
      <div class="col-md-3">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-form alert-danger">
          Last Name is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth <small>(optional)</small></label>
          <input type="text" id="dateOfBirth" class="form-control" [(ngModel)]="employee.dateOfBirth" ngControl="dateOfBirth" #dateOfBirth="ngForm">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="form-group">
          <label for="title">Title</label>
          <select class="form-control" id="title" required [(ngModel)]="employee.titleId" ngControl="title" #title="ngForm">
            <option *ngFor="#title of titles" [value]="title.id">{{title.shortcut}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div [hidden]="title.valid || title.pristine" class="alert alert-form alert-danger">
          Title is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2 text-right">
        <button type="submit" class="btn btn-default" [disabled]="!employeeForm.form.valid">
          <span class="glyphicon glyphicon-refresh spinning" *ngIf="isSubmitting"></span> Submit
        </button>
      </div>
    </div>
  </form>
</div>
