<div class="hero-image-container"
     [ngStyle]="{
        'background-image': 'url(assets/img/' + src + ')',
        'height': height + 'px',
        'line-height': height + 'px'
     }"
  >
  <span class="hero-text" [ngClass]="{animate: isHeroTyping}">{{heroText}}</span>
</div>
