.hero-image-container {
  display: block;
  height: 100px;
  margin-bottom: 15px;
  background-position: center center;
  line-height: 100px;
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.hero-text:after {
  display: none;
  content: '|';
  position: relative;
  top: -4px;
  animation: blinker 1s linear infinite;
}

.hero-text.animate:after {
  display: inline;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
