.page-wrapper {
  margin-top: 25px;
}

th .glyphicon {
  top: 1px;
  position: relative;
  font-size: 12px;
  color: #ccc;
}

th .glyphicon.active {
  color: #000;
}

.action:hover {
  cursor: pointer;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.alert.alert-form {
  padding: 6px 15px;
  margin-bottom: 0;
  margin-top: 25px;
}

label small {
  font-weight: 500;
}

.det {
  padding: 15px;
}
