<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header hidden-md-up">
      <button type="button" class="navbar-toggle navbar-toggler pull-right" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Grants</a>
    </div>
    <div class="hidden-xs hidden-xs-down">
      <ul class="nav navbar-nav">
        <li class="nav-item" *ngFor="#link of links" router-active><a class="nav-link" [routerLink]="[link.state]">{{link.label}}</a></li>
      </ul>
    </div>
    <div class="visible-xs hidden-md-up">
      <ul class="nav nav-pills nav-stacked scrollable-menu" [collapse]="!isCollapsed" (click)="toggleCollapse()">
        <li class="nav-item" *ngFor="#link of links" router-active><a class="nav-link" [routerLink]="[link.state]">{{link.label}}</a></li>
      </ul>
    </div>
  </div>
</nav>
