<div class="container page-wrapper">

  <alert *ngIf="projects.length < 1" [type]="alert.type">{{ alert.msg }}</alert>

  <table class="table table-hover" *ngIf="projects.length > 0">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#project of projects; #i = index;">
      <td>{{i}}</td>
      <td>{{project.name}}</td>
      <td>{{project.description}}</td>
    </tr>
    </tbody>
  </table>
</div>

